---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Hero from '../components/Hero.astro'
import Showcase from '../components/Showcase.astro'
import AsistenteIA from '../components/AsistenteIA.astro'
import CasosDeUso from '../components/CasosDeUso.astro'
import Features from '../components/Features.astro'
import HowItWorks from '../components/HowItWorks.astro'
import Comparison from '../components/Comparison.astro'
import Positioning from '../components/Positioning.astro'
import FAQ from '../components/FAQ.astro'
import CTADemo from '../components/CTADemo.astro'
import CTA from '../components/CTA.astro'
import ContactSales from '../components/ContactSales.astro'
import Footer from '../components/Footer.astro'
---

<Layout>
  <Header />
  <main>
    <Hero />
    <Showcase />
    <AsistenteIA />
    <Positioning />
    <Features />
    <CasosDeUso />
    <HowItWorks />
    <Comparison />
    <FAQ />
    <CTADemo />
    <CTA />
  </main>
  <ContactSales />
  <Footer />
</Layout>
