---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Pricing from '../components/Pricing.astro'
import CTA from '../components/CTA.astro'
import ContactSales from '../components/ContactSales.astro'
import Footer from '../components/Footer.astro'
---

<Layout title="Precios | Crisopa" description="Planes y precios de Crisopa. 30 días gratis, sin tarjeta. Software de cuaderno de explotación agrícola.">
  <Header />
  <main>
    <Pricing />
    <CTA />
  </main>
  <ContactSales />
  <Footer />
</Layout>
